@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

}

body {
    min-height: 100vh;
    background: #e0e8ff url(images/pattern-background-desktop.svg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-block: 1em;
    background-color: #fff;
    width: 90%;
    max-width: 350px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
}

.card-img img{
    width: 100%;
}

.card-body {
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-body > h2 {
    color: #222944;
    font-weight: 900;
}

.card-body > p {
    color: #8c909c;
    font-weight: 500;
    font-size: small;
}

.card-body .plan {
    padding: 1em;
    background-color: #f8f9fe;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 10px;
}

.plan img {
    height: 2.2em;
}

.plan .details {
    flex-grow: 1;
    text-align: left;
}

.plan .details h4 {
    color: #222944;
    font-weight: 900;
    font-size: 14px;
}

.plan .details p {
    color: #888fac;
    font-weight: 500;
    font-size: small;
}

.plan a {
    text-decoration: underline;
    font-weight: 900;
    color: #5c53b9;
    font-size: .8em;
}

.plan a:hover {
    text-decoration: none;
    color: #8278ef;
}

.card .btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
    font-size: small;
    padding: .9em;
    border-radius: .7em;
}

.btn.pay {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 700;
    box-shadow: 0 15px 30px 0.1px hsl(0, 0%, 81%);
}

.btn.pay:hover {
    background-color: hsl(245, 67%, 60%);
    color: hsl(225, 100%, 98%);
}

.btn:hover{
    color: hsl(223, 47%, 23%);
}